

    <div class="container">
        <div class="row ">
            {{#each userproducts}}

            <div class="col-md-3 d-flex justify-content-center">
                <div class="card mt-5" style="width: 16rem; height:28rem">
                    <div class="container mt-2">
                        <a href="/product-details/{{this._id}}"><img src="/images/{{this.allImages.[0].maini}}"
                                class="card-img-top " height="200" alt="..."></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.brandnames.brandname}}</h5>
                        <p class="card-text">Rs: {{this.price}}</p>
                        <div style="width: 14rem; height: 6rem;">
                            <p class=" card-text">{{this.description}}</p>
                        </div>

                        <a href="/add-tocart/{{this._id}}" class="btn btn-color text-white">Add to cart</a>
                        {{!-- <button onclick="addToCart('{{this._id}}')" class="btn btn-color text-white">Add to
                            cart</button> --}}


                    </div>
                </div>
            </div>


            {{/each}}

        </div>
    </div>
</section>