<div class="container">
    <div class="row ">
        {{#each wish}}
        {{#each this.wishlistItems}}

        <div class="col-md-3 d-flex justify-content-center">
            <div class="card mt-5" style="width: 14rem; height:25rem">
                <div class="container mt-2">
                    <a href="/product-details/{{this.products._id}}"><img src="/images/{{this.products.allImages.[0].maini}}"
                            class="card-img-top " height="200" alt="..."></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text">{{this.products.brandnames.brandname}}</h5>
                    <p class="card-text">Rs: {{this.products.price}}</p>
                    <div style="width: 12rem; height:3rem;">
                        <p class=" card-text des">{{this.products.description}}</p>
                    </div>
                    
                    {{!-- <a href="#"><i class='bx bx-cart-alt'></i></a> --}}
                    <a href="/delete-wishlist/{{this.products._id}}" onclick="return confirm(' are you want to remove {{this.products.brandnames.brandname}}?')"><i class='bx bx-trash-alt'></i></a>
                    
                    {{!-- <button onclick="addToCart('{{this._id}}')" class="btn btn-color text-white">Add to
                        cart</button> --}}


                </div>
            </div>
        </div>

         {{/each}}
        {{/each}}

    </div>
</div>